<!-- EXPERIENCES --><div class="box"><h2>Experiences
</h2><div class="job clearfix"><div class="col-xs-3"><div class="where">Google
</div><div class="year">2013 - 2014
</div></div><div class="col-xs-9"><div class="profession">Front-end developer / php programmer
</div><div class="description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ullam, et, illum perferendis veritatis velit sunt similique qui magni totam harum tempore eius laboriosam accusantium necessitatibus voluptatum? Enim, itaque dignissimos quia.
</div></div></div><div class="job clearfix"><div class="col-xs-3"><div class="where">Twitter
</div><div class="year">2012
</div></div><div class="col-xs-9"><div class="profession">Web Developer
</div><div class="description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veniam, nihil sit nemo voluptatem praesentium. Quia, qui facere consectetur libero asperiores fugiat consequuntur deserunt culpa repudiandae sed quidem voluptas explicabo soluta.
</div></div></div></div></div><div class="col-xs-12 col-sm-5"><!-- CONTACT --><div class="box clearfix"><h2>Contact
</h2><div class="contact-item"><div class="icon pull-left text-center"><i class="fa fa-phone"></i></div><div class="title only pull-right">917 776 3154
</div></div><div class="contact-item"><div class="icon pull-left text-center"><i class="fa fa-envelope-o"></i></div><div class="title only pull-right"><a href="emailto:maxrogers90@gmail.com">maxrogers90@gmail.com</a>
</div></div><div class="contact-item"><div class="icon pull-left text-center"><i class="fa fa-twitter"></i></div><div class="title pull-right">Twitter
</div><div class="description pull-right">https://twitter.com/WordPress
</div></div><div class="contact-item"><div class="icon pull-left text-center"><i class="fa fa-facebook"></i></div><div class="title pull-right">Facebook
</div><div class="description pull-right"><a href="https://www.facebook.com/maximilian.rogers">https://www.facebook.com/maximilian.rogers</a>
</div></div><div class="contact-item"><div class="icon pull-left text-center"><i class="fa fa-github"></i></div><div class="title pull-right">Github
</div><div class="description pull-right"><a href="https://github.com/honeycodedbear">https://github.com/honeycodedbear</a>
</div></div></div>
