<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en">
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>3ColorResume</title>
  <link href="css/bootstrap.min.css" rel="stylesheet" type="text/css" />
  <link href="css/font-awesome.min.css" rel="stylesheet" type="text/css" />
  <link href="css/main.scss" rel="stylesheet" type="text/css" /><!--[if lt IE 9]>
  <script src="js/html5shiv.js"></script>
  <script src="js/respond.min.js"></script>
  <![endif]--><script async="" src="//www.google-analytics.com/analytics.js" type="text/javascript"></script>
  <script type="text/javascript">      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
  ga('create', 'UA-51302339-1', 'kamsolutions.pl');
  ga('send', 'pageview');
  </script>
</head>
<body style=""><div class="container"><div class="row"><div class="col-xs-12"><div id="photo-header" class="text-center"><!-- PHOTO (AVATAR) --><div id="photo"><img src="img/avatar.jpg" alt="avatar" /></div><div id="text-header"><h1>Hello,<br />my name is <span>Max</span><sup>24yo</sup> and this is my <a href="#">resume/cv</a>
</h1></div></div></div></div><div class="row"><div class="col-xs-12 col-sm-7"><!-- ABOUT ME --><div class="box"><h2>About Me
</h2><p>My name is Max Rogers, and I’m a passionate Ruby developer, founder of Mobile App Developers, and a coach at Major League Hacking. A student at Stony Brook University and graduating this December. Looking for fullstack(web) or mobile developer employment positions in New York,NY.

</p></div>

<!-- EXPERIENCES -->
<div class="box">
  <h2>Experiences</h2>
  <div class="job clearfix">
    <div class="col-xs-3">
      <div class="where">Coach and Campus Representative</div>
      <div class="year">Fall 2014</div>
    </div>
    <div class="col-xs-9">
      <div class="profession">Major League Hacking</div>
      <div class="description">Campus representative and community leader to inspire students to develop their own applications
and participate in hackathons.</div>
    </div>
  </div>
  <div class="job clearfix">
    <div class="col-xs-3">
      <div class="where">Unhackathon</div>
      <div class="year">Summer - Fall 2014</div>
    </div>
    <div class="col-xs-9">
      <div class="profession">Lead Web Developer, Organizer and Workshop Instructor</div>
      <div class="description">
        Built an interactive sign-up form and complimentary back-end to host the 400 student sign-ups. Vol-
unteered and mentored participants in Web and Mobile Development
      </div>
    </div>
  </div>
  <div class="job clearfix">
    <div class="col-xs-3">
      <div class="where">Lead Mobile Developer</div>
      <div class="year">Spring 2014</div>
    </div>
    <div class="col-xs-9">
      <div class="profession">Stony Brook Children's Hospital</div>
      <div class="description">
      A interactive mobile application to step patients through the 24 hour long time sensitive procedure to prepare themselves for a colonoscopy.Developed using Apache-Cordova to simultaneously port to iOS and Android.
      </div>
    </div>
  </div>
</div>

<!-- Projects -->
<div class="box">
  <h2>Personal Projects</h2>
  <div class="job clearfix">
    <div class="col-xs-3">
      <div class="where">Tuesday.rb</div>
      <div class="year">Fall 2014</div>
    </div>
    <div class="col-xs-9">
      <div class="profession">Fast Casual Deployment Tool</div>
      <div class="description">A Commandline tool designed to help developers migrate from Development to Production in a seem- less transation. Built with Digital Ocean in mind, Tuesday anaylizes your stack and installes/configures the necessary technologies to get your site up and running. It even handles subdomains .[Built using Ruby/Rubygems/Bash/Nginx/Unicorn.]</div>
    </div>
  </div>
  <div class="job clearfix">
    <div class="col-xs-3">
      <div class="where">Gitten</div>
      <div class="year">Fall 2014</div>
    </div>
    <div class="col-xs-9">
      <div class="profession">Github Social Network App</div>
      <div class="description">Gitten is a social networking site for hackers and their repos. Styled like Twitter, but with a feed of GitHub commits, Gitten allows you to see the progress of your friends (and rivals!) projects.[Built using Ruby/Sinatra/Bootstrap/MongoDB/Postgres]</div>
    </div>
  </div>
  <div class="job clearfix">
    <div class="col-xs-3">
      <div class="where">Huntr</div>
      <div class="year">Fall 2014</div>
    </div>
    <div class="col-xs-9">
      <div class="profession">Mobile Cloud Based Application</div>
      <div class="description">Mobile match making application for iOS and Android, built with Ruby/Sinatra. Allows employers and potential employees to find each other and possible exchange contact. It brings the easy and
￼￼￼￼usability of Tinder to finding Software Engineers.
Education
Stony Brook University
Leadership: Mobile App Developers Founder and President [Spring 2012-Fall 2014], TechTalk on Apache Cordova[Oct 2014], Geek Games Volunteer [Fall 2012-Fall 2014]
Built for a course in mobile applications (CSE 391).</div>
    </div>
  </div>
</div>

</div>


<div class="col-xs-12 col-sm-5">


  <!-- CONTACT --><div class="box clearfix"><h2>Contact
</h2><div class="contact-item"><div class="icon pull-left text-center"><i class="fa fa-phone"></i></div><div class="title only pull-right"><a href="sms://+19177763154">917 776 3154</a>
</div></div><div class="contact-item"><div class="icon pull-left text-center"><i class="fa fa-envelope-o"></i></div><div class="title only pull-right"><a href="emailto:maxrogers90@gmail.com">maxrogers90@gmail.com</a>
</div></div><div class="contact-item"><div class="icon pull-left text-center"><i class="fa fa-linkedin"></i></i></div><div class="title pull-right">Linkedin
</div><div class="description pull-right"><a href="http://www.linkedin.com/in/maximilianrogers/">http://www.linkedin.com/in/maximilianrogers/</a>
</div></div><div class="contact-item"><div class="icon pull-left text-center"><i class="fa fa-facebook"></i></div><div class="title pull-right">Facebook
</div><div class="description pull-right"><a href="https://www.facebook.com/maximilian.rogers">https://www.facebook.com/maximilian.rogers</a>
</div></div><div class="contact-item"><div class="icon pull-left text-center"><i class="fa fa-github"></i></div><div class="title pull-right">Github
</div><div class="description pull-right"><a href="https://github.com/honeycodedbear">https://github.com/honeycodedbear</a>
</div></div></div>

<!-- SKILLS --><div class="box"><h2>Languages
</h2><div class="skills"><div class="item-skills" data-percent="1.00" style="width: 458px;">Ruby
</div><div class="item-skills" data-percent="0.90" style="width: 412.2px;">Java
</div><div class="item-skills" data-percent="0.80" style="width: 366.40000000000003px;">Javascript
</div><div class="item-skills" data-percent="0.75" style="width: 343.5px;">Objective-C/Swift
</div><div class="item-skills" data-percent="0.25" style="width: 114.5px;">C
</div><div class="skills-legend clearfix"><div class="legend-left legend">Beginner
</div><div class="legend-left legend"><span>Proficient</span></div><div class="legend-right legend"><span>Expert</span></div><div class="legend-right legend">Master
</div></div></div></div>
<!-- SKILLS --><div class="box"><h2>Technologies
</h2><div class="skills"><div class="item-skills" data-percent="1.00" style="width: 458px;">Git
</div><div class="item-skills" data-percent="0.90" style="width: 412.2px;">Sinatra
</div><div class="item-skills" data-percent="0.80" style="width: 366.40000000000003px;">Rails
</div><div class="item-skills" data-percent="0.50" style="width: 343.5px;">iOS
</div><div class="item-skills" data-percent="0.25" style="width: 114.5px;">Android
</div><div class="skills-legend clearfix"><div class="legend-left legend">Beginner
</div><div class="legend-left legend"><span>Proficient</span></div><div class="legend-right legend"><span>Expert</span></div><div class="legend-right legend">Master
</div></div></div></div><!-- LANGUAGES -->


</div></div></div>
<!-- JQUERY --><script src="js/jquery-2.1.1.min.js" type="text/javascript"></script>
<!-- BOOTSTRAP --><script src="js/bootstrap.min.js" type="text/javascript"></script>
<!-- SCRIPTS --><script src="js/scripts.js" type="text/javascript"></script></body></html>
