!!! XML
%html{:lang => "en", :xmlns => "http://www.w3.org/1999/xhtml"}
  %head
    %meta{:charset => "utf-8"}/
    %meta{:content => "IE=edge,chrome=1", "http-equiv" => "X-UA-Compatible"}/
    %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}/
    %title Max Rogers | Software Engineer
    %link{:href => "css/bootstrap.min.css", :rel => "stylesheet", :type => "text/css"}/
    %link{:href => "css/font-awesome.min.css", :rel => "stylesheet", :type => "text/css"}/
    %link{:href => "css/main.scss", :rel => "stylesheet", :type => "text/css"}/

  %body{ :style => "" }
    .container
      .row
        .col-xs-12
          .text-center#photo-header
            #photo
              %img{:src => "/img/avatar.jpg"}
            #text-header
              %h1
                Hello,
                %br>/
                my name is
                %span Max
                and this is my
                %a{:href => "/files/max_rogers_resume.pdf"} resume/cv

      .row
        .col-xs-12.col-sm-7
          / ABOUT ME
          .box
            %h2 About Me
            %p My name is Max Rogers, and I’m a passionate Ruby developer, founder of Mobile App Developers, and a coach at Major League Hacking. A student at Stony Brook University and graduating this December. Looking for fullstack(web) or mobile developer employment positions in New York,NY.
          / EXPERIENCES
          .box
            %h2 Experiences
            .job.clearfix
              .col-xs-3
                .where Coach
                .year Fall 2014
                .year
                  %a{:href => "http://mlh.io/coaching-program"} link
              .col-xs-9
                .profession Major League Hacking
                .description
                  Campus representative and community leader to inspire students to develop their own applications
                  and participate in hackathons.
            .job.clearfix
              .col-xs-3
                .where Lead Web Developer
                .year Summer-Fall 2014
                .year
                  %a{:href => "http://www.unhackathon.org"} link
              .col-xs-9
                .profession Unhackathon
                .description
                  Built an interactive sign-up form and complimentary back-end to host the 400 student sign-ups. Volunteered and mentored participants in Web and Mobile Development
            .job.clearfix
              .col-xs-3
                .where Lead Mobile Developer
                .year Spring 2014
              .col-xs-9
                .profession Stony Brook Children’s Hospital
                .description
                  A interactive mobile application to step patients through the 24 hour long time sensitive procedure to prepare themselves for a colonoscopy.Developed using Apache-Cordova to simultaneously port to iOS and Android.
            .job.clearfix
              .col-xs-3
                .where SBUMAD
                .year Spring 2013
                .year to Fall 2014
              .col-xs-9
                .profession President and Founder of Mobile App Developers
                .description
                  During my time at Stony Brook I founded Mobile App developers, a club that helped encourage students to explore mobile development as well as find support and team mates for future projects and hackathons. During our weekly meetings, I would prepare a tutorial or lesson in either Android, iOS, or Cloud computing. Last Spring, Stony Brook Children's Hospital commissioned us to develop a mobile demo application for one of their new research projects.
                  In October 2014 the Stony Brook Computing Society requested that I give a tech talk on Apache Cordova.
          .box
            %h2 Personal Projects
            .job.clearfix
              .col-xs-3
                .where Tuesday.rb
                .year Built @HackNY
                .year Oct 2014
                .year
                  %a{:href => "http://tuesday.maxrogers.me"} link
              .col-xs-9
                .profession Automated Deployment Tool
                .description
                  A Commandline tool designed to help developers migrate from Development to Production in a seem- less transation. Built with Digital Ocean in mind, Tuesday anaylizes your stack and installes/configures the necessary technologies to get your site up and running. It even handles subdomains .[Built using Ruby/Rubygems/Bash/Nginx/Unicorn.]
            .job.clearfix
              .col-xs-3
                .where Gitten
                .year Built @HackRU
                .year Oct 2014
                .year
                  %a{:href=>"https://github.com/honeycodedbear/Gitten"} link
              .col-xs-9
                .profession Github Social Network App
                .description
                  Gitten is a social networking site for hackers and their repos. Styled like Twitter, but with a feed of GitHub commits, Gitten allows you to see the progress of your friends (and rivals!) projects.[Built using Ruby/Sinatra/Bootstrap/MongoDB/Postgres]
            .job.clearfix
              .col-xs-3
                .where Huntr
                .year Fall 2014
              .col-xs-9
                .profession Mobile Cloud Based Application
                .description
                  Mobile match making application for iOS and Android, built with Ruby/Sinatra. Allows employers and potential employees to find each other and possible exchange contact.
                  It brings the easy and usability of Tinder to finding Software Engineers. Built for a course in mobile applications (CSE 391).
        .col-xs-12.col-sm-5
          / CONTACT
          .box.clearfix
            %h2
              Contact
            .contact-item
              .icon.pull-left.text-center
                %i.fa.fa-phone
              .title.only.pull-right
                %a{:href => "sms://+19177763154"} 917 776 3154
            .contact-item
              .icon.pull-left.text-center
                %i.fa.fa-envelope-o
              .title.only.pull-right
                %a{:href => "emailto:maxrogers90@gmail.com"} maxrogers90@gmail.com
            .contact-item
              .icon.pull-left.text-center
                %i.fa.fa-linkedin
              .title.pull-right
                Linkedin
              .description.pull-right
                %a{:href => "http://www.linkedin.com/in/maximilianrogers/"} http://www.linkedin.com/in/maximilianrogers/
            .contact-item
              .icon.pull-left.text-center
                %i.fa.fa-facebook
              .title.pull-right
                Facebook
              .description.pull-right
                %a{:href => "https://www.facebook.com/maximilian.rogers"} https://www.facebook.com/maximilian.rogers
            .contact-item
              .icon.pull-left.text-center
                %i.fa.fa-github
              .title.pull-right
                Github
              .description.pull-right
                %a{:href => "https://github.com/honeycodedbear"} https://github.com/honeycodedbear
            .contact-item
              .icon.pull-left.text-center
                %i.fa.fa-share-alt
              .title.pull-right
                Tutorials and Crazy Thoughts
              .description.pull-right
                %a{:href => "https://medium.com/@maxrogers"} https://medium.com/@maxrogers
          / SKILLS
          .box
            %h2
              Languages
            .skills
              .item-skills{"data-percent" => "1.00", :style => "width: 458px;"}
                Ruby
              .item-skills{"data-percent" => "0.90", :style => "width: 412.2px;"}
                Java
              .item-skills{"data-percent" => "0.80", :style => "width: 366.40000000000003px;"}
                Javascript
              .item-skills{"data-percent" => "0.50", :style => "width: 343.5px;"}
                Objective-C/Swift
              .item-skills{"data-percent" => "0.25", :style => "width: 114.5px;"}
                C
              .skills-legend.clearfix
                .legend-left.legend
                  Beginner
                .legend-left.legend
                  %span Proficient
                .legend-right.legend
                  %span Expert
                .legend-right.legend
                  Master
          / SKILLS
          .box
            %h2
              Technologies
            .skills
              .item-skills{"data-percent" => "1.00", :style => "width: 458px;"}
                Git
              .item-skills{"data-percent" => "0.90", :style => "width: 412.2px;"}
                Sinatra
              .item-skills{"data-percent" => "0.80", :style => "width: 366.40000000000003px;"}
                Rails
              .item-skills{"data-percent" => "0.50", :style => "width: 343.5px;"}
                iOS
              .item-skills{"data-percent" => "0.25", :style => "width: 114.5px;"}
                Android
              .skills-legend.clearfix
                .legend-left.legend
                  Beginner
                .legend-left.legend
                  %span Proficient
                .legend-right.legend
                  %span Expert
                .legend-right.legend
                  Master
          / LANGUAGES

    / JQUERY
    %script{:src => "js/jquery-2.1.1.min.js", :type => "text/javascript"}
    / BOOTSTRAP
    %script{:src => "js/bootstrap.min.js", :type => "text/javascript"}
    / SCRIPTS
    %script{:src => "js/scripts.js", :type => "text/javascript"}
